@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html::-webkit-scrollbar {
  width: 10px;
  background: 273136;
  
}

html::-webkit-scrollbar-thumb {
  background: rgba(74, 104, 131);
}

html::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #273136;
}

p {
  margin: 15px 0;
  line-height: 1.8;
  color: white;
}

a {
  text-decoration: none;
  /* color: #333; */
  color: white;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

header {
  /* background: rgb(56, 155, 236); */
  background-image: linear-gradient(to right, rgb(0, 110, 255) , rgb(74, 104, 131));
  color: #fff;
  padding: 5px;
  /* margin-bottom: 40px; */
}

header a {
  color: #fff;
}

header h2 {
  cursor: pointer;
}

.header {
  display: flex;
}

.headerName {
  text-align: center;
  color: white;
  padding: 4em;
}

.aboutSite {
  color: white;
  width: 30em;
  float: right;
  padding: 1em;
  margin-left: 3em;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #20282c;
}

h3 {
  color: white;
}

.container {
  max-width: 70%;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}

.container h2 {
padding-top: .1em;
}

.btn {
  display: inline-block;
  background: rgb(0, 110, 255);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-back {
  background: #f4f4f4;
  color: #000;
  margin: 20px 0px 20px 0px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Sets how many posts per column */
  gap: 30px;
  /* float: left; */

  /* margin-top: -100px; */
}

.card {
  padding: 15px;
  border-radius: 10px;
  width: 80%;
  margin-bottom: 10px;
  background: #20282c;
}

.card-page {
  padding: 15px 30px;
  width: 100%;
  color: white;
}

.post-title {
  margin: 10px 0;
}

.post-date {
  margin-bottom: 20px;
  padding: 3px 10px;
  color: white;
}

.post-body ul,
ol {
  /* font-size: 110%; */
  line-height: 2.3;
  /* font-weight: bold; */
  margin: 10px 0px 10px 20px;
}

.post-body pre {
  background: #161c1f;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
  color: white;
  border-radius: 1em;
}

.post-body img {
  width: 50%;
  margin: auto;
}

.post-body a {
  color: #1976d2;
}

@media (max-width: 500px) {
  .posts {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .card, .aboutSite{
    width: 100%;
  }

  .headerName {
    padding: 1em 0em 1em 0em;
  }

  .header{
    font-size: small;
  }

  .post-body img {
    width: 100%; 
  }

  .container {
    max-width: 95%;
  }

  .card-page {
    padding: 5px 15px;
  }

}

.Footer {
  margin-top: 5%;
  text-align: center;
  height: 150px;
  background: #161c1f;
  position: absolute;
  right: 0;
  left: 0;
}

.Footer p {
  margin-top: 4.2em;
}

pre {
  overflow: auto;
  word-wrap: break-word;
}


p code {
  padding: .2em .4em;
  margin: 0;
  white-space: break-spaces;
  background-color: gray;
  border-radius: 6px;
}
